In [ ]:
title of the notebook

# <H1>Data Science Tools and Ecosystem

In [ ]:
introduction

Data Science Tools and Ecosystem are summarized

In [ ]:
Objectives : catogries of data science tools

# data mangment 
# data visualization
# model deployment

In [ ]:
data science languages

In [4]:
order=['python','R','SQL']
print(order)

['python', 'R', 'SQL']

In [ ]:
data science libraries

In [22]:
order=['Numpy','Pandas','Matplotlib']
print(order)

['Numpy', 'Pandas', 'Matplotlib']

table of Data Science tools

In [21]:
import pandas as pd

data = {'data science tools': ['apache airflow', 'kube flow', 'Akafka',]}
df = pd.DataFrame(data)
df

  data science tools
0     apache airflow
1          kube flow
2             Akafka

# arithmetic expression

In [1]:
5-4*4

-11

# This will convert 200 minutes to hours by diving by 60

In [2]:
minutes = 200
hours = minutes / 60

print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

In [ ]:
# <H2> Author's name