In [ ]:
title of the notebook

# <H1>Data Science Tools and Ecosystem

In [ ]:
introduction

Data Science Tools and Ecosystem are summarized

In [ ]:
Objectives

-what is data science
-big data
-how can combanies use data science to improve

In [ ]:
data science languages

data science languages : python,R,SQL,Java,Scala,Julia

In [ ]:
data science libraries

data science libraries: 
-Numpy
-Pandas
-Matplotlib
-Tensorflow
-keras

table of Data Science tools

In [9]:
import pandas as pd

In [13]:
data = {'data science tools': ['Data mangement', 'data integration and transformation', 'data visualization', 'model building', 'model monetering', 'data asset manfment', 'deployment enviroment',]}
df = pd.DataFrame(data)
df

                    data science tools
0                       Data mangement
1  data integration and transformation
2                   data visualization
3                       model building
4                     model monetering
5                  data asset manfment
6                deployment enviroment

In [ ]:
arithmetic expression

5+5=10

In [ ]:
multiply and add numbers.

In [1]:
5-4*4

-11

This will convert 200 minutes to hours by diving by 60

In [2]:
minutes = 200
hours = minutes / 60

print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

# <H2>Obaida Bakjaji